* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-of-page {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 2rem;
}
.main {
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-weight: 700;
    white-space: pre-line;
    font-size: 1.5rem;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    font-weight: 10;
}
.donate-today {
    background-color: #C0F6D4;
    white-space: pre-line;
    border: none;
    border-radius: 60px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1rem;
    color: #354562;
}
.anchor {
    text-decoration: none;
    color: #354562;
    font-family: Helvetica;
}

.climate-section {
    background-image: url("assets/assets/home/64d1e82f1e24e2ceb03ed4016e5932cc");
    background-size: cover;
    background-repeat: no-repeat;
}
.climate-container {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    padding: 2rem;
}
.climate-title {
    font-family: "Flood std";
    font-size: 3rem;
    white-space: pre-line;
    font-weight: 400;
    color: white;
}
.climate-report {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.issue-button {
    padding: 1rem 3rem 1rem 3rem;
    font-family: Helvetica;
    background-color: #354463;
    color: white;
    transform: translateY(-50%);
}
.community-text {
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
}
.mission-section {
    background-color: #354463;
    padding: 2rem;
}
.mission-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.mission-title {
    padding: 1rem;
    background-color: white;
    color: #354463;
    font-family: Helvetica;
}
.mission-discription {
    font-family: Helvetica;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}
.mission-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1.3rem;
}
.stay-opend-mind {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.1rem;
}
.protect-earth {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.3rem;
}
.work-from-love {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    padding-top: 0.8rem;
    gap: 1rem;
}
.plant-new-seeds {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.lend--hand {
    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.8rem;
}
.plant-new-seeds-hand {
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.lend-hand-people {
    grid-area: 4/1/5/2;
    display: flex;
    flex-direction: column;
    padding-top: 0.6rem;
    gap: 1rem;
}
.plant-new-seeds-book {
    grid-area: 4/2/5/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mission-person-image {
    width: 50%;
}
.stay-open-minded-title {
    font-family: Helvetica;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.stay-open-minded-discription {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
}
.protect-the-earth-title {
    font-family: Helvetica;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.protect-the-earth-discription {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
}
.work-from-love-title {
    font-family: Helvetica;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.work-from-love-discription {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
}
.plant-new-seeds-title {
    font-family: Helvetica;
    color: white;
    transform: translateY(-20%);
    font-weight: 700;
    font-size: 18px;
}
.plant-new-seeds-discription {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
}
.lend--hand-title {
    font-family: Helvetica;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.lend--hand-discription {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
}
.plant-new-seeds-hand-title {
    font-family: Helvetica;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.plant-new-seeds-hand-discription {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
}
.lend-hand-people-title {
    font-family: Helvetica;
    transform: translateY(5%);
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.lend-hand-people-discription {
    color: white;
    transform: translateY(7%);
    font-family: Helvetica;
    font-size: 17px;
}
.plant-new-seeds-book-title {
    font-family: Helvetica;
    color: white;
    font-weight: 900;
    font-size: 18px;
}
.plant-new-seeds-book-discription {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
}
.team-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem;
}
.team-title {
    background-color: #354463;
    color: white;
    font-size: 1rem;
    font-family: Helvetica;
    padding: 1rem 3rem 1rem 3rem;
}
.team-theme {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Helvetica;
    text-align: center;
}
.team-discription {
    font-size: 18px;
    text-align: center;
}
.team-members {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 1rem;
}
.person-first-info {
    grid-area: 1/1/2/2;
}
.person-second-info {
    grid-area:1/2/2/3 ;
}
.person-third-info {
    grid-area: 2/1/3/2;
}
.person-four-info {
    grid-area: 2/2/3/3;
}
.person-five-info {
    grid-area: 3/1/4/2;
}
.person-six-info {
    grid-area: 3/2/4/3;
}
.person-image {
    width: 100%;
}
.person-details {
    background-color: #354463;
    padding: 1rem;
    color: white;
    text-align: center;
    transform: translateY(-13%);
    font-family: Helvetica;
}
.impact-section {
    background-image: url('/assets/assets/home/d5564810561953cd4d6acc8c9ed0ff69');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}
.impact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.impact-title {
    background-color: white;
    padding: 1rem 2rem 1rem 2rem;
    font-family: Helvetica;
    color: #354463;
}
.impact-discription {
    font-weight: 900;
    font-size: 22px;
    font-family: Helvetica;
    text-align: start;
    color: white;
}
.imapct-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 2rem 2rem ;
    gap: 2rem;
}
.work-count {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count {
    font-family: "Flood std";
    color: white;
    font-weight: 500;
    font-size: 55px;
}
.trees, .women, .volunteers, .chapters {
    font-size: 26px;
    color: white;
    font-weight: 600;
    font-family: Helvetica;
    text-align: center;
}
.action-section {
    background-color: #354463;
}
.future-save {
    color: white;
    padding: 2rem;
    position: relative;
}
.action-title {
    font-family: "Flood Std";
  text-align: center;
  font-size: 3.5rem;
}
.direction-symbol {
    padding: 1rem;
    background-color: #C0F6D4;
    border-radius:50%;
    width: 17%;
    position: absolute;
    top: 45%;
    left: 80%;
    z-index: 1;
}
.action-implementation {
    overflow: hidden;
}
.action-info {
    display: flex;
    width: 300%;
}
.action-first-card {
    padding-top: 4rem;
    width: 100%;
    position: relative;
    z-index: 0;
}
.action-taken-year {
    width: fit-content;
    padding: 1rem 4rem;
    color: #354463;
    font-size: 25px;
    background-color: white;
    position: absolute;
    top: 5.2%;
    left: 24.5%;
}
img {
    width: 100%;
}
.action-content-title {
    background-color: white;
    padding: 2rem;
    color: #354463;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.action-info-title {
    font-family:  Helvetica;
    font-size: 25px;
    text-align: center;
}
.action-content-discription {
    text-align: center;
    font-size: 20px;
}
.content-read-more-button {
    align-self: center;
    width: fit-content;
    padding: 1rem 3rem;
    background-color: #C0F6D4;
    border: none;
    border-radius: 60px;
    font-size: 20px;
    font-weight: 700;
    color: #354463;
}
.subscribe-section {
    background-color: #c1f7d5;
}
.subscribe-main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: 2rem;
}
.subscribe-discription {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24px;
    color: #354463;
}
.email-subscribe {
    display: flex;
    justify-content: space-between;
}
input {
    padding: 1rem 0.3rem 1rem 0.3rem;
    border: none;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}
.subscribe-button {
    background-color: #354463;
    color: #c1f7d5;
    border: none;
    border-radius: 60px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 18px;
    font-weight: 600;
}
.footer-section {
    padding: 2rem;
}
.footer-main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    position: relative;
}
.green-tree-title {
    grid-area: 1/1/2/2;
    font-size: 1.5rem;
    padding-right: 3rem;
    padding-top: 0.3rem;
    font-family: Helvetica;
    color: #354463;
}
.contact-info {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.social-info {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 18px;
}
.more-info {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.final-statement {
    grid-area: 3/1/4/3;
    white-space: pre-line;
    padding: 3rem 2rem 2rem 0rem;
    position: absolute;
    left: 40%;
    font-size: 50px;
    font-family: "flood std";
    color: #354463;
}
.details {
    text-decoration: underline;
    white-space: pre-line;
    font-size: 19px;
    line-height: 30px;
    font-family: Helvetica;
    color: #354463;
}
.address {
    white-space: pre-line;
    font-size: 19px;
    line-height: 30px;
    font-family: Helvetica;
    color: #354463;
}
.follow-us, .learn-more, .contact-us {
    font-family: Helvetica;
    color: #354463;
    font-size: 18px;
}
@media (width>=1024px) {
     .container {
        max-width: 1100px;
        margin: auto;
    } 
    header {
        margin: auto;
    }
    .header-of-page {
        flex-direction: row;
        gap: 3rem;
        padding: 4rem;
    }
    .main {
        flex-grow: 2;
    }
    .navigation {
        flex-direction: row;
        align-items: center;
        column-gap: 4rem;
    }
    .climate-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem;
    }
    .climate-report {
        max-width: 570px;
        transform: translateY(35%);
    }
    .issue-button {
        font-size: 1rem;
        transform: translateX(-89%)translateY(-46%);
    }
    .community-text {
        text-align: start;
        padding: 2.1rem;
        font-size: 2.3rem;
        font-family: Helvetica;
        font-weight: 700;
        color: #354463;
    }
    .mission-section {
        padding: 0px;
    }
    .mission-discription {
        max-width: 1025px;
        text-align: start;
        font-size: 2.5rem;
        font-weight: 700;
    }
    .mission-main {
        align-items: flex-start;
        padding: 4rem;
    }
    .mission-info {
        width: 100%;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1rem;
        padding-top: 4rem;
    }
    .stay-opend-mind {
        grid-area: 1/1/2/2;
    }
    .protect-earth {
        grid-area: 1/2/2/3;
        padding-top: 5px;
    }
    .work-from-love {
        grid-area: 1/3/2/4;
        padding-top: 3px;
    }
    .plant-new-seeds {
        grid-area: 2/3/3/4;
    }
    .lend--hand {
        grid-area: 1/4/2/5;
        padding-top: 0px;
    }
    .plant-new-seeds-hand {
        grid-area: 2/2/3/3;
        padding-top: 10px;
    }
    .lend-hand-people {
        transform: translateY(17%);
        grid-area: 2/1/3/2;
    }
    .plant-new-seeds-book {
        grid-area: 2/4/3/5;
        padding-top: 40px;
    }
    .stay-open-minded-title {
        font-size: 23px;
    }
    .stay-open-minded-discription {
      font-size: 22.9px;
    }
    .protect-the-earth-title {
        font-size: 23px;
    }
    .protect-the-earth-discription {
      font-size: 23px;  
    }
    .work-from-love-title {
        font-size: 23px;
    }
    .work-from-love-discription {
      font-size: 23px;  
    }
    .plant-new-seeds-title {
        font-size: 23px;
    }
    .plant-new-seeds-discription {
      font-size: 23px;
    }
    .lend--hand-title {
        font-size: 23px;
    }
    .lend--hand-discription {
      font-size: 23px;   
    }
    .plant-new-seeds-hand-title {
        font-size: 23px;
    }
    .plant-new-seeds-hand-discription {
      font-size: 23px;
    }
    .lend-hand-people-title {
        font-size: 23px;
    }
    .lend-hand-people-discription {
      font-size: 23px;
    }
    .plant-new-seeds-book-title {
        font-size: 23px;
    }
    .plant-new-seeds-book-discription {
      font-size: 23px;
    }
    .team-section {
        margin: auto;
    }
    .team-main {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 4rem;
    }
    .team-title {
        width: fit-content;
        text-align: center;
        font-size: 15px;
        grid-area: 1/1/2/2;
    }
    .team-theme {
        width: fit-content;
        font-size: 1.7rem;
        text-align: start;
        grid-area: 2/1/3/2;
        color: #354463;
    }
    .team-discription {
        text-align: start;
        padding: 0rem 2rem 0rem 10rem;
        grid-area: 2/2/3/4;
        color: #354463;
    }
    .team-members {
        grid-area: 3/1/4/4;
        column-gap: 4rem;
        grid-template-columns: repeat(3,1fr);
    }
    .person-first-info {
        grid-area: 1/1/2/2;
    }
    .person-second-info {
        grid-area: 1/2/2/3;
    }
    .person-third-info {
        grid-area: 1/3/2/4;
    }
    .person-four-info {
        grid-area: 2/1/3/2;
    }
    .person-five-info {
        grid-area: 2/2/3/3;
    }
    .person-six-info {
        grid-area: 2/3/3/4;
    }
    .person-image {
        width: 100%;
    }
    .person-details {
        padding: 0.6rem;
        font-size: 0.9rem;
        transform: translateX(10%)translateY(-60%);
    }
    .impact-section {
        background-size: cover;
    }
    .impact-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
    }
    .impact-discription {
        font-size: 27px;
        padding: 0rem 14.5rem 0rem 14.5rem;
        text-align: center;
    }
    .imapct-results {
        flex-direction: row;
        padding: 0px;
        gap: 3.5rem;
    }
    .work-count {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px
    }
    .count {
        font-family: "Flood std";
        color: white;
        font-weight: 500;
        font-size: 55px;
    }
    .trees, .women, .volunteers, .chapters {
        font-size: 22px;
        font-weight: 550;
    }
    .action-section {
        background-color: #354463;
    }
    .future-save {
        padding: 4rem;
    }
    .action-title {
        text-align: start;
        font-size: 2.9rem;
        padding-right: 20rem;
    }
    .direction-symbol {
        width: 5%;
        top: 8%;
        left: 78.5%;
    }
    .action-implementation {
        overflow: hidden;
    }
    .action-info {
        display: flex;
        width: 128.6%;
        gap: 1.5rem;
    }
    .action-taken-year {
        padding: 0.2rem 2.5rem;
        top: 9.3%;
        left: 12%;
        font-size: 15px;
    }
    img {
        width: 100%;
    }
    .action-info-title {
        font-size: 18px;
        text-align: start;
    }
    .action-content-discription {
        text-align: start;
        font-size: 15px;
    }
    .content-read-more-button {
        align-self: flex-start;
        padding: 1rem 2rem;
        font-size: 15px;
    }
    .subscribe-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        gap: 2rem;
        padding: 4rem;
    }
    .subscribe-discription {
        font-size: 20px;
    }
    .email-subscribe {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    input {
        padding: 1rem 6rem 1rem 0.3rem;
        border: none;
        border-radius: 60px;
        font-size: 15px;
        text-align: center;
    }
    .footer-main {
        display: flex;
        column-gap: 2rem;
        padding: 4rem;
    }
    .more-info {
        order: 0;
        padding-top: 10px;
        padding-bottom:20px ;
        row-gap: 0.7rem;
    }
    .social-info {
        order: 1;
        padding-top: 10px;
        padding-bottom:20px ;
        row-gap: 0.7rem;
    }
    .contact-info {
        row-gap: 0.7rem;
        padding-top: 10px;
        padding-bottom:20px ;
    }
    .details {
        text-decoration: none;
        line-height: 24px;
    }
    .address {
        line-height: 24px;
    }
    .green-tree-title {
        white-space: pre-line;
        width: fit-content;
    }
    .learn-more, .follow-us, .contact-us {
        border: 2px solid #354463;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .final-statement {
        left: 78%;
        padding: 1rem 0rem 0rem 0rem;
        text-align: center;
        font-size: 38px;
    }
}